<a href="https://colab.research.google.com/github/wickedwes78/deep-learning-challenge/blob/main/Deep_Learning_Optimisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [30]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv

application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN"], axis = 1, inplace = True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [32]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.9+ MB

In [33]:
counts_Status = application_df.STATUS.value_counts()
counts_Status

1    34294
0        5
Name: STATUS, dtype: int64

In [34]:
application_df = application_df[application_df['STATUS'] > 0]

In [35]:
counts_SC = application_df.SPECIAL_CONSIDERATIONS.value_counts()
counts_SC

N    34268
Y       26
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19565
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        1
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [36]:
counts_AA = application_df.ASK_AMT.value_counts()
counts_AA

5000        25394
63981           3
15583           3
6725            3
10478           3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [15]:
counts_name = application_df.NAME.value_counts()
counts_name

Other                                 3674
PARENT BOOSTER USA INC                1260
TOPS CLUB INC                          765
UNITED STATES BOWLING CONGRESS INC     700
WASHINGTON STATE UNIVERSITY            492
                                      ...
CHRISTIAN DEAF FELLOWSHIP                1
ST LOUIS SLAM WOMENS FOOTBALL            1
AIESEC ALUMNI IBEROAMERICA CORP          1
WEALLBLEEDRED ORG INC                    1
WATERHOUSE CHARITABLE TR                 1
Name: NAME, Length: 19544, dtype: int64

In [16]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(counts_name[counts_name<300].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                              29657
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: NAME, dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning
counts_AT = application_df.APPLICATION_TYPE.value_counts()
counts_AT

T3     27032
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_AT[counts_AT<700].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27032
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
counts_class = application_df.CLASSIFICATION.value_counts()
counts_class

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts_class[counts_class<500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 61 #number of columns + one for a bias term
hidden_nodes_layer2 = 41
hidden_nodes_layer3 = 91
hidden_nodes_layer4 = 61


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 61)                3233

 dense_9 (Dense)             (None, 41)                2542

 dense_10 (Dense)            (None, 91)                3822

 dense_11 (Dense)            (None, 61)                5612

 dense_12 (Dense)            (None, 1)                 62

=================================================================
Total params: 15,271
Trainable params: 15,271
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7289
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5233 - accuracy: 0.7386
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5204 - accuracy: 0.7401
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5181 - accuracy: 0.7407
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5169 - accuracy: 0.7430
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5160 - accuracy: 0.7432
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5150 - accuracy: 0.7439
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5142 - accuracy: 0.7445
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5138 - accuracy: 0.7455
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5134 - accuracy: 0.7440
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5132 - accuracy: 0.7456
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5127 - accuracy: 0.7451
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5128 - accuracy: 0.7453
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5118 - accuracy: 0.7458
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5115 - accuracy: 0.7469
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5108 - accuracy: 0.7466
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5109 - accuracy: 0.7466
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5098 - accuracy: 0.7477
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5097 - accuracy: 0.7473
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5092 - accuracy: 0.7457
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5091 - accuracy: 0.7484
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5084 - accuracy: 0.7473
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5087 - accuracy: 0.7483
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5083 - accuracy: 0.7481
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5073 - accuracy: 0.7495
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5069 - accuracy: 0.7479
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5077 - accuracy: 0.7490
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5070 - accuracy: 0.7499
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5069 - accuracy: 0.7481
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5060 - accuracy: 0.7489
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5067 - accuracy: 0.7489
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5058 - accuracy: 0.7495
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5064 - accuracy: 0.7497
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5052 - accuracy: 0.7495
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5054 - accuracy: 0.7495
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5053 - accuracy: 0.7493
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5046 - accuracy: 0.7498
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5049 - accuracy: 0.7496
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5046 - accuracy: 0.7502
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5046 - accuracy: 0.7494
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5046 - accuracy: 0.7496
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5041 - accuracy: 0.7498
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5044 - accuracy: 0.7503
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5042 - accuracy: 0.7507
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5038 - accuracy: 0.7497
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5037 - accuracy: 0.7507
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5035 - accuracy: 0.7507
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5034 - accuracy: 0.7506
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5034 - accuracy: 0.7512
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5027 - accuracy: 0.7504
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5029 - accuracy: 0.7500
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5028 - accuracy: 0.7510
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5026 - accuracy: 0.7507
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5030 - accuracy: 0.7498
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5030 - accuracy: 0.7505
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5027 - accuracy: 0.7498
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5019 - accuracy: 0.7509
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5022 - accuracy: 0.7517
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5027 - accuracy: 0.7508
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5020 - accuracy: 0.7506
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5024 - accuracy: 0.7516
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5020 - accuracy: 0.7510
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5017 - accuracy: 0.7514
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5016 - accuracy: 0.7507
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7519
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7502
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5018 - accuracy: 0.7514
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5022 - accuracy: 0.7519
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5015 - accuracy: 0.7503
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7513
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5014 - accuracy: 0.7511
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7513
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5020 - accuracy: 0.7515
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5008 - accuracy: 0.7512
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5013 - accuracy: 0.7505
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5006 - accuracy: 0.7512
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5014 - accuracy: 0.7517
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5015 - accuracy: 0.7513
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5016 - accuracy: 0.7510
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5003 - accuracy: 0.7519
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5013 - accuracy: 0.7514
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5010 - accuracy: 0.7517
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5008 - accuracy: 0.7508
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5005 - accuracy: 0.7514
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5015 - accuracy: 0.7508
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5007 - accuracy: 0.7517
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5005 - accuracy: 0.7525
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5011 - accuracy: 0.7511
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5000 - accuracy: 0.7514
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5006 - accuracy: 0.7512
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5009 - accuracy: 0.7514
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5004 - accuracy: 0.7517
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5005 - accuracy: 0.7514
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5006 - accuracy: 0.7512
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5024 - accuracy: 0.7516
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5002 - accuracy: 0.7521
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5002 - accuracy: 0.7510
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5007 - accuracy: 0.7511
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4998 - accuracy: 0.7520
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5003 - accuracy: 0.7515

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5383 - accuracy: 0.7460 - 468ms/epoch - 2ms/step
Loss: 0.5383028984069824, Accuracy: 0.7459762096405029

In [46]:
# Evaluate the model using the train data
model_loss, model_accuracy = nn.evaluate(X_train_scaled,y_train,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 1s - loss: 0.4976 - accuracy: 0.7530 - 1s/epoch - 1ms/step
Loss: 0.49755924940109253, Accuracy: 0.7530326843261719

In [47]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/AlphabetSoupCharity_Optimisation.h5')
files.download('/AlphabetSoupCharity_Optimisation.h5')